a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.main-navigation {

	a {
		color: $color__linkmenu;
		margin-left: 3rem;

		&:visited {
			color: $color__linkmenu-visited;
		}

		&:hover,
		&:focus,
		&:active {
			color: $color__linkmenu-hover;
		}

		&:focus {
			outline: thin dotted;
		}

		&:hover,
		&:active {
			outline: 0;
		}
	}
} 

.site-title {

	a {
		color: $color__linktitle;

		&:visited {
			color: $color__linktitle-visited;
		}

		&:hover,
		&:focus,
		&:active {
			color: $color__linktitle-hover;
		}

		&:focus {
			outline: thin dotted;
		}

		&:hover,
		&:active {
			outline: 0;
		}
	}
} 
