.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
}

/* STRUCTURE DE LA PAGE

	#page  -  .site
		#masthead  -  .site-header
			.site-branding
				.site-title
				.site-description
			#site-navigation  -  .main-navigation
		#primary  -  .site-main
		#secondary  -  .widget-area
		#colophon  -  .site-footer

*/

.site-branding, #primary, #colophon {
	margin-left: 3rem;
}