body {
	overflow-x: hidden;
}


.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
}

/* STRUCTURE DE LA PAGE

	#page  -  .site
		#masthead  -  .site-header
			.site-branding
				.site-title
				.site-description
			#site-navigation  -  .main-navigation
		#primary  -  .site-main
		#secondary  -  .widget-area
		#colophon  -  .site-footer

*/

.site-branding, #primary, #colophon {
	margin-left: 3rem;
}

#primary {
	display: flex;
	justify-content: center;

	h1 {
		font-size: 3em;
		margin: 0.2em;
		font-family: $font__main;
	}	

	.wp-block-column {
		font-family: $font_title;

		ul {
			margin: 0;
		}
		img {
			border: 4px solid lightcoral;
			box-shadow: 2px 2px 2px rgb(185, 72, 72);
		}
	}
}