body {
    margin: 0;
    padding: 0;
}

body.home {
    background-color: rgb(241, 180, 89);
}

body.home::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: -1;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: #fff;
        /* @include media-desktop {
            clip-path: polygon(89% 0, 100% 0, 100% 100%, 64% 100%);
        } */
}

#page {
    margin: 0 2rem 0 2rem;
}

.site-title {
    font-family: $font_title;;
    font-size: clamp(2rem, #{"-0.875rem + 8.333vw"}, 4rem);
    font-weight: bold;
    margin-bottom: 0;
    a {
        text-decoration: none;
    }
}

site-description {
    font-family: $font_title;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    margin-top: 0;
}

.accueil {
    font-size: clamp(.9rem, #{"-0.875rem + 8.333vw"}, 2rem);
    ul {
        list-style-type: none;
    }
}