body {
    margin: 0;
    padding: 0;
}

body.home {
    //background-color: rgb(241, 180, 89);
    height: 500vh;
    width: 100vw;
    overflow-x: hidden;

    #primary {
        margin: 0;
        width: 100vw;

         h1 {
             display: flex;
             justify-content: center;
             font-family: $font_title;
             font-size: clamp(2rem, #{"-0.875rem + 8.333vw"}, 2.5rem);
             background-color : $color__linktitle-visited;
             color: white;
         }

         h2 {
             display: flex;
             justify-content: center;
             font-family: $font_title;
             font-size: clamp(2rem, #{"-0.875rem + 8.333vw"}, 2rem);
             color: $color__linktitle-hover;
            border: 1px dotted black;
            }
    }
}

body.home::after {
    position: absolute;
    width: 100%;
    height: 500vh;

    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    // clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    // background-color: rgb(250, 231, 170);
        /* @include media-desktop {
            clip-path: polygon(89% 0, 100% 0, 100% 100%, 64% 100%);
        } */
}

/* #page {
    margin: 0 2rem 0 2rem;
} */

.site-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font_title;;
    font-size: clamp(2rem, #{"-0.875rem + 8.333vw"}, 4rem);
    font-weight: bold;
    margin-bottom: 0;
    a {
        text-decoration: none;
    }
}

.site-description {
    display: flex;
    justify-content: center;
    font-family: $font_title;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    margin-top: 0;
}

.accueil {
    font-size: clamp(.9rem, #{"-0.875rem + 8.333vw"}, 2rem);
    ul {
        list-style-type: none;
    }
}

.entry-header {
    font-size: clamp(.6rem, #{"-0.875 + 8.333vw"}, 3rem);
}

/* ---------------------------------------------------------------------------------------------
                                Liste des blocs de cours par type
------------------------------------------------------------------------------------------------*/

.liste-cours {
    display: flex;
    flex-direction: column;

    section {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1.6em;

        article {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: $color_articlebackground;
            border: 1px solid #aaa;
            width: 90%;
            margin : 1%;
            p {
                margin: .4rem;
                font-size: 1rem;
                display: flex;
                justify-content: center;
            }
            a {
                text-align: center;
                font-size: 2rem;
                font-weight: bold;
                text-decoration: none;
                color: $color__linkarticle;
            }
        }

        article:hover {
            background-color: $color__linkarticle-hover;
        }

        @include tablet {
            article {
                width: 45%;
                margin: 1%;
            }
        }

        @include desktop {
            article {
                width: 29%;
                margin: 1%;
            }
        }
    }

}

#secondary {
    display: none;
}

#colophon {
    display: flex;
    justify-content: center;
    margin: 0;

   .site-info {
       a {
       text-decoration: none;
       color: $color__linktitle-visited;
       }
   }
}