/* --------------------------------------------------------------------------------------
Les variables 
---------------------------------------------------------------------------------------- */
$largeur-burger : 2rem;
$duree : .10s;
$epaisseur : 8%;


/*---------------------------------------------------------------------------------------
Le bouton buger
----------------------------------------------------------------------------------------- */
#burger {
    position : relative;
    width:$largeur-burger ;
    height : $largeur-burger ;
    // border : 1px solid #aaa;
    border-radius : 50%;
    overflow: hidden;
    div{
        top: 0;
        left : 0;
        position:absolute;
        width : 100%;
        height : 100%;
    
        &:nth-of-type(1){
            background-color: $color__linktitle;
            clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%);
        }
        &:nth-of-type(2){
            background-color: $color__linktitle-visited;
            clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
        }
        &:nth-of-type(3){
            background-color: $color__linktitle-hover;
            clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        }
    }
}
/* -----------------------------------------------------------------------------------
La barre du haut
-------------------------------------------------------------------------------------- */
@keyframes ouvreX1{
    0%{
        clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%);
    }
    100%{
        clip-path: polygon($epaisseur  (-$epaisseur),  100%+$epaisseur 100%-$epaisseur ,100%-$epaisseur 100%+$epaisseur, -$epaisseur $epaisseur);
    }
}
@keyframes fermeX1{
    0%{
        clip-path: polygon($epaisseur  (-$epaisseur),  100%+$epaisseur 100%-$epaisseur ,100%-$epaisseur 100%+$epaisseur, -$epaisseur $epaisseur);
    }
    100%{
         clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%);
    }
}

.ouvreX1 {
    animation : ouvreX1 $duree both;
}

.fermeX1 {
    animation : fermeX1 $duree both;
}

/* -----------------------------------------------------------------------------------
La barre du bas
-------------------------------------------------------------------------------------- */
@keyframes ouvreX3{
    0%{
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
    100%{
        clip-path: polygon( (-$epaisseur)  100%-$epaisseur,  100%-$epaisseur (-$epaisseur) , 100%+$epaisseur $epaisseur, $epaisseur 100%+$epaisseur);
    }
}
@keyframes fermeX3{
    0%{
        clip-path: polygon(-4%  96%,  96% -4% , 104% 4%, 4% 104%);
    }
    100%{
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
}

.ouvreX3 {
    animation : ouvreX3 $duree both;
}

.fermeX3 {
    animation : fermeX3 $duree both;
}

/* -----------------------------------------------------------------------------------
La barre du millieu
-------------------------------------------------------------------------------------- */
@keyframes ouvreX2{
    0%{
        clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
    }
    100%{
        clip-path: polygon(48%  48%,  52% 48% , 52% 52%, 48% 52%);
    }
}
@keyframes fermeX2{
    0%{
        clip-path: polygon(48%  48%,  52% 48% , 52% 52%, 48% 52%);
    }
    100%{
        clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
    }
}

.ouvreX2 {
    animation : ouvreX2 $duree both;
}

.fermeX2 {
    animation : fermeX2 $duree both;
}

