.main-navigation {
	display: block;
	width: 100vw;
	font-family: $font_title;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: rgb(243, 118, 87);
		//position: absolute;
		width: 100%;
		z-index: 10;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 10;
			

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				//font-size: 15px;
				width: 200px;
				font-size: clamp(.6rem, #{"-0.875 + 8.333vw"}, 3rem);
				margin:0.5em;
				//width: 100vh;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* ------------------------------------------------------------------
Bouton burger 
---------------------------------------------------------------------*/

.menu-toggle {
	padding: 0rem;
	border: 0;
	// transition: transform .20s ;
	margin-left: 3rem;
}


.menu-toggle:hover,
.menu-toggle:focus {
	background-color: #f8f8f8;
}

.menu-toggle:focus {
	outline: 1px solid #fff;
	outline-offset: -4px;
}

.menu-toggle:active {
	transform: scale(0.99);
}

/* .main-navigation.toggled .menu-toggle  {
	transform: rotate(90deg);
} */

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	@include desktop{
		display: flex;
	}
	@include tablet{
		display: flex;
	}
}

/* VERSION TABLETTE */
@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		height: 2rem;
		justify-content: space-around;
		align-items: center;
		position: static;
		width: 100vw;
	
		ul {
			//position: absolute;
			width: 200px;
			height: 300px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			font-size: small;
			margin: 0;
		}
	}

}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
